<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Catálogo Vue</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Vue CDN (Opción 1: trabajar con el linkeado. Opción 2: trabajar con vue instalado en la carpeta) -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Link a la hoja de estilo-->
    <link rel="stylesheet" href="styles.css">


    <!-- Links Google-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body>



    <div id="app">

        <nav class="navbar navbar-tech sticky-top">
            <!-- Barra de nav dentro del id "app" ya que incluye el buscador con filtro-->
            <div class="container-fluid">
                <a class="navbar-brand">TechMarket</a>

                <a href="cart" class="me-2"><span class="material-symbols-outlined">
                        shopping_cart
                    </span></a>

                <form class="d-flex" role="search">
                    <input class="form-control input-tech me-2" type="search" placeholder="Buscar producto..."
                        v-model="textoBusqueda">
                </form>
            </div>
        </nav>


        <div class="container mt-4">
            <div class="row">

                <!-- la información se ordena en columnas-->
                <div class="col-md-4 mb-4" v-for="producto in productosFiltrados" :key="producto.id">
                    <div class="card card-tech h-100"
                        :class="{ 'card-highlight': producto.stock <= 3 && producto.stock > 0 }">
                        <img :src="producto.imagen" class="card-img-top">

                        <!-- diagramación de la tarjeta -->
                        <div class="card-body">
                            <h5>{{ producto.nombre }}</h5>
                            <p>{{ producto.descripcion }}</p>
                            <p><strong>${{ producto.precio.toLocaleString() }}</strong></p>
                            <!-- toLocalString formatea el precio con separador de miles -->

                            <div v-if="producto.stock > 0">
                                <!-- If: Si el producto es mayor a 0 se muestra el stock y botón -->
                                <p>Stock disponible: {{ producto.stock }}</p>

                                <button class="btn btn-tech btn-success">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span> Añadir al carro
                                </button>
                            </div>

                            <div v-else> <!-- Else: si no se cumple el if, se activa v-else y se muestra el badge-->
                                <span class="badge bg-danger">
                                    Producto Agotado
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Js con la información del catálogo -->
    <script src="app.js"></script>

    <!-- Js Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>