/* Global */

body {
    background-color: #f6f5fc;
    font-family: "Open Sans", sans-serif;
    color: #0f0f0f;
}



/* Navbar */
.navbar-tech {
    background-color: #f6f5fc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 1rem 2rem;
}

.navbar-tech .navbar-brand {
    color: #0f0f0f;
    font-weight: bold;
}

.navbar-tech .navbar-brand:hover {
    color: #325FEB;
}


/* Hero */
.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centra vertical */
    align-items: center;
    /* centra horizontal */
    text-align: center;
}

.btn-tech {
    margin-top: 10px;
}

.carousel-item img {
    filter: brightness(70%);
    height: 40rem;
    object-fit: cover;
    object-position: top;
}



/* Input Buscador*/

.input-tech {
    background-color: #0f0f0f0f;
    color: #ffffff;
    border-radius: 10px;
}

.input-tech::placeholder {
    color: #0f0f0f3d;
    opacity: 1;
}

.input-tech:focus {
    background-color: #0f0f0f0f;
    border-color: #325FEB;
    box-shadow: 0 0 0 0.2rem rgba(50, 95, 235, 0.25);
    color: #0f0f0f;
}


/* Categorías */

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.category-tag {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 12px 20px;
    border-radius: 30px;

    background: #ffffff;
    color: #444;

    font-weight: 500;
    cursor: pointer;

    transition: all 0.25s ease;
}

.category-tag:hover {
    background: #ece6ff;
    color: #5a3df0;
}

.category-tag.active {
    background: #7c4dff;
    color: white;
}

/* Cards */
.card-tech {
    background-color: #eae9fb;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-tech:hover {
    transform: translateY(-3px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.065);
    border: 1px solid #d5d3ff;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.card-tech h5 {
    font-weight: 600;
    color: #0f0f0f;
}

.card-tech p {
    color: #615e5e;
    font-size: 0.9rem;
}

.card-tech strong {
    color: #325FEB;
    font-size: 1.3rem;
}




/* Botones */
.btn-tech {
    background-color: #325FEB;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-tech:hover {
    background-color: #1e3888;
    transform: scale(1.03);
}

/* Footer */
.footer-tech {
    background-color: #222;
    color: #fff;
}

.footer-tech a {
    color: #fff;
    text-decoration: underline;
}

.footer-tech a:hover {
    color: #ccc;
    text-decoration: none;
}

/* Social icon sizing */
.footer-tech i {
    font-size: 1.2rem;
    vertical-align: middle;
}